# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\family_education\family_education\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
